@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:wght@100&family=Trocchi&display=swap');
header {
    border-bottom: 2px solid black;
    padding: 10px;

}

a {
    color: #03A688;
    transition: color 2s;
    box-shadow: 5px 5px 5px#03A688;
    font-size: larger;
    transition: box-shadow 2s
}

a:link {
    text-decoration: none ;
}

a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration:double;
    color: #F2668B;
    box-shadow: 5px 5px 5px #F2668B ;
}
a:active {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background: #f9d2df;
    height: 100vh;
    font-family: "DM serif Display", serif;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 15px;
    padding:0%;
    width: 350px;
    box-shadow: 5px 10px 10px#F2668B;

}

h1:hover {
    box-shadow: rgb(226, 58, 86);

}

main {
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 16px
}
.edit-table > thead {
    background-color: #b1acad;
    padding: 1em;
}

.edit-table > tbody > tr:nth-child(odd){
    background-color: #6fb89a;
}

.edit-table tr:nth-child(even){
    background-color: #F2668B;
}

.edit-list:hover li{
    font-stretch:expanded ;
}
.edit-list li:nth-child(odd){
    border-color: cadetblue;
    background-color: antiquewhite;
    width: 200px

}
.fit-picture {
    width: 200px;
}

footer {
    padding: 100px, 24px;
    background-color: rgba(15, 145, 145, 0.911);
    padding: 5px;
}
