header {
    border-bottom: 2px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #011F26;


}

body {
    margin: 0;
    padding: 0;
    background: #025E73;
    height: 100vh;
}

.is-grid {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
}

h1 {
    color: #03A688;
    text-align: left;
    text-shadow:1px 1px 2px #F2668B;
}

h2 {
    color: #03A688;
}
a {
    color: #03A688;
}
a:link {
    text-decoration: none ;
}

a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #F2668B;
}

a:active {
    text-decoration: none;
}
main {
    color: #03A688;
    text-align: left;
    padding: 16px
}

.fit-picture {
    width: 125px;
}

footer {
    padding: 5px;
    background-color: #011F26;
    margin: 5px;
}

footer > p {
    color: #03A688
}

img + p {
    border-top: 2px;
    margin: 0px;
}
